h4 {
    text-align: center;
}

.size_of_items {
    height: 400px;
    overflow: auto;
}

.active,
.trs:hover {
    background-color: #66b3ff;
    color: #801a00;
}

.allDivs {
    height: 200px;
    /*width: 130px;*/
    background: green;
    /*margin-left: 10px;*/
}

h3 {
    text-align: center;
    margin-top: 50px;
}